body {
    font-family: var(--font-family);
    background: var(--Black);
    display: inline-flex;
    padding: 0px 0px;
    width: 100%;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-items: flex-start;
}

:root {
    --font-family:'Bebas Neue', sans-serif;
    --font-text:'Montserrat', sans-serif;
    --yellow-: #FFD11B;
    --yellow-new: #C1912D;
    --green: #364630;
    --red: #4F1D1C;
    --Black: #0D0C0A;
    --White: #E5E5D6;
    --font-size-big: 200px;
    --font-size-small: 16px;
}
.container {
    width: 100%;
    max-width: 100%;
    height: auto;
}

button{
    width: 260px;
    height: 64px;
    background: transparent;
    border-radius: 100px;
    border: 1px solid  var(--yellow-);
    color:  var(--yellow-);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
button:hover {
    background: var(--yellow-);
    color: var(--Black);
    border: none;
    transition: background-color 0.9s, color 0.3s;
}

@media screen  and (max-width: 1680px){
    .container {
        width: 1680px;
    }

}
@media screen  and (max-width: 1440px){
    .container {
        width: 1440px;
    }
    button{
        width: 210px;
        height: 60px;
        font-size: 34px;
    }
}
@media screen  and (max-width: 1366px){
    .container {
        width: 1366px;
    }
    button{
        width: 210px;
        height: 60px;
        font-size: 34px;
    }
}
@media screen  and (max-width: 1280px){
    .container {
        width: 1280px;
    }
    button{
        width: 210px;
        height: 60px;
        font-size: 34px;
    }
}
@media screen  and (max-width: 1024px){
    .container {
        width: 1024px;
    }
}
@media screen  and (max-width: 800px){
    .container{
        max-width: 800px;
        overflow: hidden;
    }
    button{
        width: 190px;
        height: 55px;
        font-size: 30px;
    }
}
@media screen  and (max-width: 768px){
    .container{
        width: 768px;
        overflow: hidden;
    }
    button{
        width: 190px;
        height: 55px;
        font-size: 30px;
    }
}

@media screen  and (max-width: 640px){
    .container{
        width: 640px;
        overflow: hidden;
    }
    button{
        width: 190px;
        height: 55px;
        font-size: 30px;
    }
}

