body {
    font-family: var(--font-family);
    background: var(--Black);
    display: inline-flex;
    padding: 0px 0px;
    width: 100%;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-items: flex-start;
}

:root {
    --font-family:'Bebas Neue', sans-serif;
    --font-text:'Montserrat', sans-serif;
    --yellow-: #FFD11B;
    --Black: #0D0C0A;
    --White: #E5E5D6;
    --font-size-big: 200px;
    --font-size-small: 16px;
}
.container {
    width: 100%;
    height: auto;
}

button{
    width: 260px;
    height: 64px;
    background: transparent;
    border-radius: 100px;
    border: 1px solid  #FFD11B;
    color:  var(--yellow-);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
button:hover {
    background: var(--yellow-);
    color: var(--Black);
    border: none;
    transition: background-color 0.9s, color 0.3s;
}

/*input, textarea{*/
/*    background: transparent;*/
/*    border: none;*/
/*    border-bottom: 2px solid #5C5C59;*/
/*    padding: 1px;*/
/*    font-family: var(--font-text)!important;*/
/*    color: var(--White);*/
/*    font-size: 14px;*/
/*}*/

/*textarea{*/
/*    padding-top:10px;*/
/*}*/
