@charset "UTF-8";
.contacts-container {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 20px;
}
.contacts-container .contacts-row {
  width: 100%;
  position: absolute;
  top: 1%;
}
.contacts-container .contacts-picture {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.contacts-container .contacts-wrapper {
  padding-left: 172px;
  position: absolute;
  top: 20%;
}
.contacts-container .contacts-wrapper .contacts-form {
  display: block;
  width: 700px;
  height: 550px;
  margin-top: 10%;
}
.contacts-container .contacts-wrapper .contacts-form .input-contacts {
  background: transparent;
  border: none;
  border-bottom: 2px solid #5C5C59;
  padding: 1px;
  font-family: var(--font-text) !important;
  color: var(--White);
  font-size: 14px;
}
.contacts-container .contacts-wrapper .contacts-form #textarea1 {
  padding-top: 10px;
}
.contacts-container .contacts-wrapper .contacts-form .invalid-input {
  background: transparent;
  border: none;
  padding: 1px;
  font-family: var(--font-text) !important;
  color: var(--White);
  font-size: 14px;
  border-bottom: 2px solid red;
}
.contacts-container .contacts-wrapper .contacts-form .invalid_contacts-lab {
  color: red;
  font-family: var(--font-text);
  font-size: 16px;
}
.contacts-container .contacts-wrapper .contacts-form .error-message {
  text-align: right;
  color: red;
  font-size: 16px;
  font-family: var(--font-text);
  margin-top: -10px;
}
.contacts-container .contacts-wrapper .contacts-submitted-form {
  width: 700px;
  height: 550px;
  margin-top: 10%;
}
.contacts-container .contacts-wrapper .contacts-submitted-form .contacts-submitted-form-title {
  color: var(--White);
  font-family: var(--font-text);
  font-size: 30px;
  padding-bottom: 100px;
}
.contacts-container .contacts-wrapper .contacts-submitted-form .contacts-submitted-form-img {
  padding-left: 15%;
}
.contacts-container .contacts-wrapper .contacts-submitted-form .contacts-submitted-form-img .submitted-form-img {
  width: 200px;
  height: auto;
}
.contacts-container .contacts-wrapper .contacts-form input,
.contacts-container .contacts-wrapper .contacts-form textarea {
  display: block;
  height: 8%;
  width: 100%; /* Занимать всю доступную ширину */
  margin-bottom: 5%;
}
.contacts-container .contacts-wrapper .contacts-lab {
  color: #5C5C59;
  font-family: var(--font-text);
  font-size: 16px;
}
.contacts-container .contacts-wrapper .contacts-data-container {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 60px;
  height: 700px;
  overflow: hidden;
}
.contacts-container .contacts-wrapper .contacts-data-container .contacts-map {
  flex: 2;
}
.contacts-container .contacts-wrapper .contacts-data-container .contacts-map .contacts-map-pic {
  width: 700px;
  height: 500px;
}
.contacts-container .contacts-wrapper .contacts-data-container .contacts-data {
  flex: 1;
}
.contacts-container .contacts-wrapper .contacts-data-container .contacts-data .contacts-title {
  font-family: var(--font-family);
  color: var(--White);
  font-size: 120px;
}
.contacts-container .contacts-wrapper .contacts-data-container .contacts-data .contacts-p {
  padding: 15px 0px;
  font-size: 24px;
  color: var(--White);
  font-family: var(--font-text);
}
.contacts-container .contacts-wrapper .contacts-data-container .contacts-data .contacts-p a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1680px) {
  .contacts-container {
    width: 1680px;
    overflow: hidden;
    height: auto;
  }
  .contacts-container .contacts-wrapper {
    padding-left: 172px;
    top: 20%;
  }
  .contacts-container .contacts-wrapper .contacts-form {
    width: 700px;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-map {
    flex: 2;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-map .contacts-map-pic {
    width: 800px;
  }
}
@media screen and (max-width: 1440px) {
  .contacts-container {
    width: 1440px;
  }
  .contacts-container .contacts-wrapper {
    padding-left: 132px;
    top: 17%;
  }
}
@media screen and (max-width: 1366px) {
  .contacts-container {
    width: 1366px;
  }
  .contacts-container .contacts-wrapper {
    padding-left: 122px;
    top: 15%;
  }
  .contacts-container .contacts-wrapper .contacts-form {
    width: 700px;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-map {
    flex: 2;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-map .contacts-map-pic {
    width: 750px;
  }
}
@media screen and (max-width: 1280px) {
  .contacts-container {
    width: 1280px;
    height: auto;
  }
  .contacts-container .contacts-wrapper {
    padding-left: 115px;
    top: 15%;
  }
  .contacts-container .contacts-wrapper .contacts-form {
    width: 700px;
  }
  .contacts-container .contacts-wrapper .contacts-data-container {
    padding-top: 5px;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-map {
    flex: 2;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-map .contacts-map-pic {
    width: 650px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contacts-container {
    max-width: 1024px;
    padding-bottom: 20px;
  }
  .contacts-container .contacts-picture {
    height: 1900px;
  }
  .contacts-container .contacts-wrapper {
    padding-left: 50px;
    top: 12%;
  }
  .contacts-container .contacts-wrapper .contacts-data-container {
    padding-top: 10px;
    display: block;
    height: 900px;
    width: 900px;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-map {
    flex: 2;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-map .contacts-map-pic {
    padding-bottom: 20px;
    width: 1000px;
    height: 600px;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-data {
    text-align: right;
    flex: 1;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-data .contacts-title {
    display: none;
  }
  .contacts-container .contacts-wrapper .contacts-data-container .contacts-data .contacts-p {
    padding: 10px 0px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=Contacts.css.map */
