.contacts-container {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 20px;
  .contacts-row {
    width: 100%;
    position: absolute;
    top: 1%;
  }

  .contacts-picture {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .contacts-wrapper {
    padding-left: 172px;
    position: absolute;
    top: 20%;

    .contacts-form {
      display: block;
      width: 700px;
      height: 550px;
      margin-top: 10%;

      .input-contacts {
        background: transparent;
        border: none;
        border-bottom: 2px solid #5C5C59;
        padding: 1px;
        font-family: var(--font-text) !important;
        color: var(--White);
        font-size: 14px;
      }

      #textarea1 {
        padding-top: 10px;
      }

      .invalid-input {
        background: transparent;
        border: none;
        padding: 1px;
        font-family: var(--font-text) !important;
        color: var(--White);
        font-size: 14px;
        border-bottom: 2px solid red;
      }

      .invalid_contacts-lab {
        color: red;
        font-family: var(--font-text);
        font-size: 16px;
      }


      .error-message {
        text-align: right;
        color: red;
        font-size: 16px;
        font-family: var(--font-text);
        margin-top: -10px;
      }

    }

    .contacts-submitted-form {
      width: 700px;
      height: 550px;
      margin-top: 10%;

      .contacts-submitted-form-title {
        color: var(--White);
        font-family: var(--font-text);
        font-size: 30px;
        padding-bottom: 100px;
      }

      .contacts-submitted-form-img {
        padding-left: 15%;

        .submitted-form-img {
          width: 200px;
          height: auto;
        }
      }
    }


    .contacts-form input,
    .contacts-form textarea {
      display: block;
      height: 8%;
      width: 100%; /* Занимать всю доступную ширину */
      margin-bottom: 5%;
    }

    .contacts-lab {
      color: #5C5C59;
      font-family: var(--font-text);
      font-size: 16px;
    }

    .contacts-data-container {
      padding-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 60px;
      height: 700px;
      overflow: hidden;

      .contacts-map {
        flex: 2;

        .contacts-map-pic {
          width: 700px;
          height: 500px;
        }
      }

      .contacts-data {
        flex: 1;

        .contacts-title {
          font-family: var(--font-family);
          color: var(--White);
          font-size: 120px;
        }

        .contacts-p {
          padding: 15px 0px;
          font-size: 24px;
          color: var(--White);
          font-family: var(--font-text);
        }

        .contacts-p a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
@media screen  and (max-width: 1680px){
  .contacts-container {
    width: 1680px;
    overflow: hidden;
    height: auto;
  .contacts-wrapper {
    padding-left: 172px;
    top: 20%;

    .contacts-form {
      width: 700px;
    }
    .contacts-data-container {
      .contacts-map {
        flex: 2;
        .contacts-map-pic {
          width: 800px;
        }
      }

    }
  }
}

}
@media screen  and (max-width: 1440px){
    .contacts-container {
      width: 1440px;
    .contacts-wrapper {
      padding-left: 132px;
      top: 17%;
    }
  }
}
@media screen  and (max-width: 1366px){
  .contacts-container {
    width: 1366px;
  .contacts-wrapper {
    padding-left: 122px;
    top: 15%;

    .contacts-form {
      width: 700px;
    }
    .contacts-data-container {
      .contacts-map {
        flex: 2;
        .contacts-map-pic {
          width: 750px;
        }
      }
    }
  }
}

}
@media screen  and (max-width: 1280px){
  .contacts-container {
    width: 1280px;
    height: auto;
    .contacts-wrapper {
      padding-left: 115px;
      top: 15%;

      .contacts-form {
        width: 700px;
      }
      .contacts-data-container {
          padding-top: 5px;
        .contacts-map {
          flex: 2;
          .contacts-map-pic {
            width: 650px;
          }
        }
      }
    }
  }
}
@media screen  and (max-width: 1024px){

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contacts-container {
    max-width: 1024px;
    padding-bottom: 20px;

    .contacts-picture {
      height: 1900px;
    }

    .contacts-wrapper {
      padding-left: 50px;
      top: 12%;

      .contacts-data-container {
        padding-top: 10px;
        display: block;
        height: 900px;
        width: 900px;

        .contacts-map {
          flex: 2;

          .contacts-map-pic {
            padding-bottom: 20px;
            width: 1000px;
            height: 600px;
          }
        }

        .contacts-data {
          text-align: right;
          flex: 1;

          .contacts-title {
            display: none;
            //font-size: 80px;
          }

          .contacts-p {
            padding: 10px 0px;
            font-size: 20px;
          }
        }
      }
    }


  }
}

@media screen  and (max-width: 768px){
  .contacts-container {
    width: 100%;
    height: 1650px;

    .contacts-picture {
      display: none;
    }

    .contacts-wrapper {
      padding-left: 75px;
      top: 12%;

      .contacts-form {
        display: block;
        width: 650px;
        height: 550px;
        margin-top: 10%;

        .input-contacts {
          background: transparent;
          border: none;
          border-bottom: 2px solid #5C5C59;
          padding: 1px;
          font-family: var(--font-text) !important;
          color: var(--White);
          font-size: 14px;
        }

        #textarea1 {
          padding-top: 10px;
        }

        .invalid-input {
          background: transparent;
          border: none;
          padding: 1px;
          font-family: var(--font-text) !important;
          color: var(--White);
          font-size: 14px;
          border-bottom: 2px solid red;
        }

        .invalid_contacts-lab {
          color: red;
          font-family: var(--font-text);
          font-size: 16px;
        }


        .error-message {
          text-align: right;
          color: red;
          font-size: 16px;
          font-family: var(--font-text);
          margin-top: -10px;
        }

      }

      .contacts-submitted-form {
        width: 650px;
      }


      .contacts-form input,
      .contacts-form textarea {
        display: block;
        height: 8%;
        width: 100%; /* Занимать всю доступную ширину */
        margin-bottom: 5%;
      }

      .contacts-lab {
        color: #5C5C59;
        font-family: var(--font-text);
        font-size: 16px;
      }

      .contacts-data-container {
        padding-top: 10px;
        display: block;
        height: 800px;
        width: 650px;

        .contacts-map {
          flex: 2;

          .contacts-map-pic {
            padding-bottom: 20px;
            width: 650px;
            height: 400px;
          }
        }

        .contacts-data {
          text-align: right;
          flex: 1;

          .contacts-title {
            display: none;
            //font-size: 80px;
          }

          .contacts-p {
            padding: 10px 0px;
            font-size: 20px;
          }
        }
      }
    }
  }
}