@charset "UTF-8";
.header-container {
  width: 100%;
  height: 148px;
  position: fixed;
  top: 0;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
}
.header-container .header-menu {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
.header-container .header-menu .header-menu-main {
  color: var(--White);
  font-family: var(--font-family);
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  font-variant: all-small-caps;
  cursor: pointer;
}
.header-container .header-menu .header-menu-main:hover {
  color: var(--yellow-);
}
.header-container .burger-menu {
  display: block;
  color: var(--yellow-);
  font-size: 40px; /* Устанавливаем размер шрифта */
  cursor: pointer;
}
@media screen and (min-width: 1026px) and (max-width: 3500px) {
  .header-container .burger-menu {
    display: none;
  }
}

.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 12, 10, 0.6); /* Цвет фона с прозрачностью */
  backdrop-filter: blur(35px); /* Фильтр размытия */
  z-index: -1; /* Задаем псевдоэлементу нижний слой */
  -webkit-backdrop-filter: blur(35px);
}

.logo-main {
  width: 132px;
  height: 152px;
}

.dropdown-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px; /* Ширина меню */
  height: 100%; /* Высота меню */
  background-color: #1e1e1e;
  border: 1px solid black;
  padding: 10px;
  z-index: 1001;
  overflow-y: auto; /* Включаем вертикальную прокрутку, если контент не помещается на экране */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень для стиля */
  transition: opacity 0.3s ease;
}

.dropdown-menu ul {
  list-style-type: none; /* Убираем маркеры у списка */
  padding: 0;
  margin: 0;
  text-align: center;
}

.dropdown-menu ul li {
  padding: 10px 0;
  cursor: pointer;
  color: var(--White);
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.dropdown-menu ul li a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: inherit; /* Наследуем цвет текста от родительского элемента */
}

.dropdown-menu ul li:hover {
  color: var(--yellow-);
}

.dropdown-pic {
  position: relative;
  right: -145px;
  cursor: pointer;
}
.dropdown-pic .dropdown-close {
  color: var(--yellow-);
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1680px) {
  .header-container {
    width: 1680px;
    max-width: 100%;
    padding: 16px 36px;
  }
  .header-container .header-menu {
    gap: 0.3%;
  }
  .header-container .burger-menu {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .header-container {
    width: 1440px;
    max-width: 100%;
    padding: 16px 36px;
  }
  .header-container .header-menu {
    gap: 0.3%;
  }
  .header-container .header-menu .header-menu-main {
    font-size: 48px;
    line-height: 30px;
  }
  .header-container .burger-menu {
    display: none;
  }
}
@media screen and (max-width: 1366px) {
  .header-container {
    width: 1366px;
    max-width: 100%;
  }
  .header-container .header-menu {
    gap: 0.2%;
  }
  .header-container .header-menu .header-menu-main {
    font-size: 44px;
  }
  .header-container .burger-menu {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .header-container {
    width: 1280px;
    max-width: 100%;
  }
  .header-container .header-menu {
    gap: 0.2%;
  }
  .header-container .header-menu .header-menu-main {
    font-size: 42px;
  }
  .header-container .burger-menu {
    display: none;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1270px) {
  .header-container .header-menu {
    display: none;
  }
  .header-container .registration-button {
    display: none;
  }
  .header-container .burger-menu {
    display: block;
    color: var(--yellow-);
    font-size: 40px; /* Устанавливаем размер шрифта */
    cursor: pointer;
  }
}
@media screen and (max-width: 1024px) {
  .header-container {
    width: 1024px;
    height: 140px;
    position: fixed;
    top: 0;
    padding: 13px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
  }
  .header-container .header-menu {
    display: none;
  }
  .header-container .registration-button {
    display: none;
  }
  .header-container .burger-menu {
    display: block;
    color: var(--yellow-);
    font-size: 40px; /* Устанавливаем размер шрифта */
    cursor: pointer;
  }
  .dropdown-menu {
    top: 0;
    right: 0;
    width: 400px; /* Ширина меню */
    overflow: hidden;
    padding: 10px;
  }
  .dropdown-menu ul li {
    padding: 20px 0;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
  }
  .dropdown-pic {
    position: relative;
    top: 2%;
    left: 83%;
  }
  .dropdown-pic .dropdown-close {
    color: var(--yellow-);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=Header.css.map */
