@charset "UTF-8";
.header-container {
  width: 100%;
  height: 148px;
  position: fixed;
  top: 0;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
}
.header-container .header-menu {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
.header-container .header-menu .header-menu-main {
  color: var(--White);
  font-family: var(--font-family);
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  font-variant: all-small-caps;
  cursor: pointer;
}
.header-container .header-menu .header-menu-main:hover {
  color: var(--yellow-);
}
@media screen and (max-width: 1440px) {
  .header-container .header-menu .header-menu-main {
    font-size: 42px;
  }
}
.header-container .burger-menu {
  display: block;
  color: var(--yellow-);
  font-size: 40px; /* Устанавливаем размер шрифта */
  cursor: pointer;
}
@media screen and (min-width: 1026px) and (max-width: 2500px) {
  .header-container .burger-menu {
    display: none;
  }
}

.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 12, 10, 0.6); /* Цвет фона с прозрачностью */
  backdrop-filter: blur(35px); /* Фильтр размытия */
  z-index: -1; /* Задаем псевдоэлементу нижний слой */
  -webkit-backdrop-filter: blur(35px);
}

.logo-main {
  width: 132px;
  height: 152px;
}

@media screen and (max-width: 768px) {
  .header-container {
    width: 768px;
    height: 100px;
  }
  .header-container .header-menu {
    gap: 5px;
  }
  .header-container .header-menu .header-menu-main {
    display: none;
  }
  .logo-main {
    width: 80px;
    height: 80px;
  }
  .registration-button {
    display: none;
  }
}
.dropdown-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px; /* Ширина меню */
  height: 100%; /* Высота меню */
  background-color: #1e1e1e;
  border: 1px solid black;
  padding: 10px;
  z-index: 1001;
  overflow-y: auto; /* Включаем вертикальную прокрутку, если контент не помещается на экране */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень для стиля */
  transition: opacity 0.3s ease;
}

.dropdown-menu ul {
  list-style-type: none; /* Убираем маркеры у списка */
  padding: 0;
  margin: 0;
  text-align: center;
}

.dropdown-menu ul li {
  padding: 10px 0;
  cursor: pointer;
  color: var(--White);
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.dropdown-menu ul li a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: inherit; /* Наследуем цвет текста от родительского элемента */
}

.dropdown-menu ul li:hover {
  color: var(--yellow-);
}

.dropdown-pic {
  position: relative;
  right: -145px;
  cursor: pointer;
}
.dropdown-pic .dropdown-close {
  color: var(--yellow-);
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .header-container {
    padding: 5px 16px;
  }
  .logo-main {
    width: 70px;
    height: auto;
  }
  .dropdown-menu {
    width: 70%;
  }
  .dropdown-menu ul li {
    padding: 20px 0;
    font-size: 7vw;
    font-style: normal;
    font-weight: 400;
  }
  .dropdown-pic {
    left: 80%;
    cursor: pointer;
  }
  .dropdown-pic .dropdown-close {
    color: var(--yellow-);
    width: 18%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    width: 100%;
    min-width: 768px;
    max-width: 1024px;
    height: 120px;
  }
  .header-container .header-menu {
    gap: 5px;
  }
  .header-container .header-menu .header-menu-main {
    display: none;
  }
  .header-container .logo-main {
    width: 100px;
    height: 100px;
  }
  .header-container .registration-button {
    display: none;
  }
  .header-container .header-btn {
    font-size: 24px;
    width: 140px;
    height: 50px;
  }
  .dropdown-menu ul li {
    padding: 20px 0;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .header-container {
    min-width: 1025px;
    max-width: 1439px;
    height: 120px;
  }
  .header-container .header-menu {
    gap: 5px;
  }
  .header-container .logo-main {
    width: 100px;
    height: 100px;
  }
  .header-container .header-btn {
    font-size: 24px;
    width: 140px;
    height: 50px;
  }
}

/*# sourceMappingURL=Header.css.map */
