.hero {
  //position: relative;
  z-index: 100;
  width: 100%;
  height: auto;

  .image-title{
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 3;
    text-align: left;
  }
  .main-page_pic-title{
    color: var(--White, #E5E5D6);
    font-family: var(--font-family);
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 168px;
    letter-spacing: 2px;

  }
  .main-page_pic-subtitle{
    color: var(--White, #E5E5D6);
    font-family: var(--font-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 1440px) {
    .main-page_pic-title{
      font-size: 13vw; /* Уменьшение размера шрифта заголовка */
      line-height: 3vw;
      margin-bottom: 3vw;
    }
    .main-page_pic-subtitle{
      font-size: 1.3vw; /* Уменьшение размера шрифта заголовка */
      line-height: 2vw;
    }
  }
   @media screen and (max-width: 768px) {
     width: 768px;
     height: auto;
     .image-title{
      top: 20%;
      left: 8%;
    }
     .main-page_pic-title{
      font-size: 10vw;
      line-height: 2vw;
      margin-bottom: 3vw;
    }
   }
  @media screen and (min-width: 769px) and (max-width: 1024px){
    .image-title{
      top: 30%;
    }
    .main-page_pic-subtitle{
      font-size: 2vw;
      line-height: 30px;
      margin-bottom: 30px;
      padding-top: 5%;
    }
  }

}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: auto
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  .hero-image {
    //TODO check this in the end!!!!
    max-width: 1024px;
    height: auto
  }
}

@media screen and (max-width: 1440px) {

}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .hero {



    .image-title {
      position: absolute;
      top: 20%;
      left: 8%;
    }

    .main-page_pic-title {
      font-size: 20vw;
      line-height: 58px;
      letter-spacing: 1px;
    }

    .main-page_pic-subtitle {
      font-size: 3.6vw;
      line-height: 5vw;

    }
  }
    .hero-image {

    }
}

@media screen and (min-width: 1025px) and (max-width: 1439px){
  .hero {
    z-index: 100;
    width: 100%;

    .image-title{
      top: 40%;
      left: 5%;
    }
    .main-page_pic-title{
      font-size: 160px;
      line-height: 138px;
    }
    .main-page_pic-subtitle{
      font-size: 20px;
      line-height: 30px;
    }
  }
}