@charset "UTF-8";
.merch-container {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.merch-container .merch-content {
  padding-left: 50px;
  padding-right: 50px;
}
.merch-container .merch-content .merch-block {
  padding-top: 50px;
}
.merch-container .merch-content .groups {
  width: 100%;
  height: auto;
}
.merch-container .p {
  font-size: 100px;
  color: var(--yellow-);
  padding-bottom: 30px;
  padding-left: 25px;
}
.merch-container .merchandise-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.merch-container .merchandise-list .merch-item {
  width: 650px;
  height: 500px;
  display: flex;
  color: var(--White);
}
.merch-container .merchandise-list .merch-item .merch-item-slider {
  padding: 10px 30px;
  width: 350px;
}
.merch-container .merchandise-list .merch-item .merch-item-info {
  display: block;
  flex-direction: row;
  gap: 15px;
}
.merch-container .merchandise-list .merch-item .merch-item-info .merch-item-title {
  font-size: 42px;
}
.merch-container .merchandise-list .merch-item .merch-item-info .merch-item-desc {
  font-family: var(--font-text);
  font-size: 16px;
}
.merch-container .merchandise-list .merch-item .merch-item-info .merch-item-price {
  color: var(--yellow-);
  font-size: 32px;
}
.merch-container .merchandise-list .merch-item .merch-item-info .merch-item-availibe {
  font-size: 24px;
}
.merch-container .merchandise-list .merch-item .merch-item-info .merch-item-size {
  font-size: 24px;
}
.merch-container .merchandise-list .merch-item .merch-item-info h3,
.merch-container .merchandise-list .merch-item .merch-item-info p {
  margin-bottom: 15px;
}
.merch-container .merchandise-list > div {
  width: calc(50% - 10px); /* Расчет ширины для 2 элементов в ряд */
  margin-bottom: 10px;
}
.merch-container .merch-footer {
  width: 100%;
}

@media screen and (max-width: 1366px) {
  .merch-container {
    width: 1366px;
    height: auto;
    margin-top: 50px;
  }
  .merch-container .merchandise-list {
    width: 100%;
    height: auto;
  }
  .merch-container .merchandise-list .merch-item {
    width: 50%;
    height: auto;
    padding-bottom: 70px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-slider {
    padding: 10px 30px;
    width: 300px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-title {
    font-size: 3vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-desc {
    font-size: 1.1vw;
    line-height: 18px;
  }
  .merch-container .merchandise-list > div {
    width: calc(50% - 10px); /* Расчет ширины для 2 элементов в ряд */
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .merch-container {
    max-width: 1024px;
    min-width: 769px;
  }
  .merch-container .merch-content {
    padding-left: 6%;
  }
  .merch-container .merchandise-list {
    width: 100%;
    margin-bottom: 20px;
  }
  .merch-container .merchandise-list .merch-item {
    width: 100%;
    height: auto;
  }
  .merch-container .merchandise-list .merch-item .merch-item-slider {
    padding: 10px 30px;
    width: 350px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info {
    display: block;
    flex-direction: row;
    gap: 15px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-title {
    font-size: 3.2vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-desc {
    font-family: var(--font-text);
    font-size: 1.5vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-price {
    color: var(--yellow-);
    font-size: 32px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-availibe {
    font-size: 24px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-size {
    font-size: 24px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info h3,
  .merch-container .merchandise-list .merch-item .merch-item-info p {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .merch-container {
    max-width: 768px;
    min-width: 360px;
  }
  .merch-container .merch-content {
    padding-left: 6%;
  }
  .merch-container .merchandise-list {
    width: 100%;
    margin-bottom: 20px;
  }
  .merch-container .merchandise-list .merch-item {
    width: 100%;
    height: auto;
  }
  .merch-container .merchandise-list .merch-item .merch-item-slider {
    padding: 10px 30px;
    width: 350px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info {
    display: block;
    flex-direction: row;
    gap: 15px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-title {
    font-size: 3.2vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-desc {
    font-family: var(--font-text);
    font-size: 1.5vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-price {
    color: var(--yellow-);
    font-size: 32px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-availibe {
    font-size: 24px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-size {
    font-size: 24px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info h3,
  .merch-container .merchandise-list .merch-item .merch-item-info p {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 640px) {
  .merch-container {
    width: 640px;
  }
  .merch-container .merch-content {
    padding-left: 6%;
  }
  .merch-container .merchandise-list {
    width: 100%;
    margin-bottom: 20px;
  }
  .merch-container .merchandise-list .merch-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .merch-container .merchandise-list .merch-item .merch-item-slider {
    padding: 10px 30px;
    width: 550px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info {
    margin-top: 20px;
    display: block;
    flex-direction: row;
    gap: 15px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-title {
    font-size: 8vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-desc {
    font-size: 3.5vw;
    line-height: 26px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-price {
    font-size: 7vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-availibe {
    font-size: 24px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-size {
    font-size: 24px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info h3,
  .merch-container .merchandise-list .merch-item .merch-item-info p {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  .merch-container {
    width: 480px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-slider {
    padding: 10px 30px;
    width: 420px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info {
    gap: 15px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-title {
    font-size: 8.5vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-desc {
    font-size: 3.9vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-price {
    font-size: 7vw;
  }
}
@media screen and (max-width: 360px) {
  .merch-container {
    width: 360px;
  }
  .merch-container .p {
    font-size: 80px;
    color: var(--yellow-);
    padding-bottom: 30px;
    padding-left: 25px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-slider {
    padding: 10px 30px;
    width: 320px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info {
    gap: 15px;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-title {
    font-size: 8.5vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-desc {
    font-size: 3.9vw;
  }
  .merch-container .merchandise-list .merch-item .merch-item-info .merch-item-price {
    font-size: 7vw;
  }
}

/*# sourceMappingURL=MerchPage.css.map */
