.merch-container{
  width: 100%;
  height: auto;
  margin-top: 50px;
  //padding-right: 50px;
  .merch-content{
    //width: auto;
    //height: 800px;
    padding-left: 50px;
    padding-right: 50px;
    .merch-block{
      padding-top: 50px;
    }
    .groups{
      width: 100%;
      height: auto;
    }
  }
  .p{
    font-size: 100px;
    color: var(--yellow-);
    padding-bottom: 30px;
    padding-left: 25px;
  }
  .merch-soon{
    height: 200px;
    color: var(--yellow-);
    font-size: 120px;
  }

  .merchandise-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    .merch-item{
      width: 650px;
      height: 500px;
      display: flex;
      color: var(--White);
      .merch-item-slider{
        padding: 10px 30px;
        width: 350px;

        .merch-image{

        }
      }
      .merch-item-info{
        display: block;
        flex-direction: row;
        gap:15px;
         .merch-item-title{
            font-size: 42px;
      }
        .merch-item-desc{
          font-family: var(--font-text);
          font-size: 16px;
        }
        .merch-item-price{
          color: var(--yellow-);
          font-size: 32px;
        }
        .merch-item-availibe{
          font-size: 24px;
        }
        .merch-item-size{
          font-size: 24px;
        }
      }
      .merch-item-info h3,
      .merch-item-info p {
        margin-bottom: 15px;
      }

    }
  }
  .merchandise-list > div {
    width: calc(50% - 10px); /* Расчет ширины для 2 элементов в ряд */
    margin-bottom: 10px;
}
  .merch-footer{
    width: 100%;
  }
}


@media screen  and (max-width: 1680px){


}
@media screen  and (max-width: 1440px){

}
@media screen  and (max-width: 1366px){
  .merch-container{
    width: 1366px;
    height: auto;
    margin-top: 50px;
    .merchandise-list{
      width: 100%;
      height: auto;
      .merch-item{
        width: 50%;
        height: auto;
        padding-bottom: 70px;
        .merch-item-slider{
          padding: 10px 30px;
          width: 300px;
        }
        .merch-item-info{
           .merch-item-title{
              font-size: 3vw;

        }
          .merch-item-desc{
            font-size: 1.1vw;
            line-height: 18px;
          }
        }
      }
    }
    .merchandise-list > div {
      width: calc(50% - 10px); /* Расчет ширины для 2 элементов в ряд */
      margin-bottom: 10px;
  }
  }
}
@media screen  and (max-width: 1280px){

}
@media screen  and (max-width: 1024px){

}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .merch-container{
    max-width: 1024px;
    min-width: 769px;

     .merch-content{
      padding-left: 6%;
     }
    .merchandise-list{
      width: 100%;
      margin-bottom: 20px;

    .merch-item{
      width:100%;
      height: auto;
      .merch-item-slider{
        padding: 10px 30px;
        width: 350px;
      }
      .merch-item-info{
        display: block;
        flex-direction: row;
        gap:15px;
         .merch-item-title{
            font-size: 3.2vw;
      }
        .merch-item-desc{
          font-family: var(--font-text);
          font-size: 1.5vw;
        }
        .merch-item-price{
          color: var(--yellow-);
          font-size: 32px;
        }
        .merch-item-availibe{
          font-size: 24px;
        }
        .merch-item-size{
          font-size: 24px;
        }
      }
      .merch-item-info h3,
      .merch-item-info p {
        margin-bottom: 15px;
      }

    }
  }
  }
}
@media screen  and (max-width: 768px){
  .merch-container{
    max-width: 768px;
    min-width: 360px;

     .merch-content{
      padding-left: 6%;
     }
    .merchandise-list{
      width: 100%;
      margin-bottom: 20px;

    .merch-item{
      width:100%;
      height: auto;
      .merch-item-slider{
        padding: 10px 30px;
        width: 350px;
      }
      .merch-item-info{
        display: block;
        flex-direction: row;
        gap:15px;
         .merch-item-title{
            font-size: 3.2vw;
      }
        .merch-item-desc{
          font-family: var(--font-text);
          font-size: 1.5vw;
        }
        .merch-item-price{
          color: var(--yellow-);
          font-size: 32px;
        }
        .merch-item-availibe{
          font-size: 24px;
        }
        .merch-item-size{
          font-size: 24px;
        }
      }
      .merch-item-info h3,
      .merch-item-info p {
        margin-bottom: 15px;
      }

    }
  }
  }
}

@media screen  and (max-width: 640px){
  .merch-container{
    width: 640px;
     .merch-content{
      padding-left: 6%;
     }
    .merchandise-list{
      width: 100%;
      margin-bottom: 20px;

    .merch-item{
      width:100%;
      height: auto;
      display: flex;
      flex-direction: column;
      .merch-item-slider{
        padding: 10px 30px;
        width: 550px;
      }
      .merch-item-info{
        margin-top: 20px;
        display: block;
        flex-direction: row;
        gap:15px;
         .merch-item-title{
            font-size: 8vw;
      }
        .merch-item-desc{
          font-size: 3.5vw;
          line-height: 26px;
        }
        .merch-item-price{
          font-size: 7vw;
        }
        .merch-item-availibe{
          font-size: 24px;
        }
        .merch-item-size{
          font-size: 24px;
        }
      }
      .merch-item-info h3,
      .merch-item-info p {
        margin-bottom: 15px;
      }

    }
  }
  }
}

@media screen  and (max-width: 480px){
  .merch-container{
    width: 480px;
    .merchandise-list{
    .merch-item{
      .merch-item-slider{
        padding: 10px 30px;
        width: 420px;
      }
      .merch-item-info{
        gap:15px;
         .merch-item-title{
            font-size: 8.5vw;
      }
        .merch-item-desc{
          font-size: 3.9vw;
        }
        .merch-item-price{
          font-size: 7vw;
        }

      }

    }
  }
  }
}


@media screen  and (max-width: 360px){
  .merch-container{
    width: 360px;
    .p{
      font-size: 80px;
      color: var(--yellow-);
      padding-bottom: 30px;
      padding-left: 25px;
    }
    .merchandise-list{
    .merch-item{
      .merch-item-slider{
        padding: 10px 30px;
        width: 320px;
      }
      .merch-item-info{
        gap:15px;
         .merch-item-title{
            font-size: 8.5vw;
      }
        .merch-item-desc{
          font-size: 3.9vw;
        }
        .merch-item-price{
          font-size: 7vw;
        }

      }

    }
  }
  }
}