.merch-container{
  width: 100%;
  height: 1000px;
   margin-top: 50px;
  .merch-content{
    height: 600px;
    padding-left: 100px;
  }
  .p{

    font-size: 100px;
    color: aliceblue;
  }
  .p1{

  }
}