.section8-container{
  width: 100%;
  height: auto;
  padding: 100px 172px;
  .news-container{
    margin-top: 40px;
    display: flex;
    border: 1px solid gray;

    .news-image{
      width: 40%;
      height: auto;
    }

    .news-wrapper{
      padding: 15px 15px;
      display: flex;
      flex-direction: column;
      gap: 5%;
      .btn{
        margin-top: 12px;
      }


      .news-date{
        color: var(--White);
        font-size: 20px;
      }
      .news-title{
        color: var(--White);
        font-size: 46px;
      }


      .news-text{
        font-family: var(--font-text);
        color: var(--White);
        line-height: 20px;
      }


      .news-button{
        width: 23%;
        height: 12%;
        font-size: 24px;
      }
    }
  }

}


@media screen  and (max-width: 1680px){


}
@media screen  and (max-width: 1440px){
  .section8-container{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-left: 132px;
    padding-right: 112px;
    .news-container{
      margin-top: 40px;
      display: flex;
      border: 1px solid gray;

      .news-image{
        width: 40%;
        height: auto;
      }

      .news-wrapper{
        padding: 40px 15px;
        display: flex;
        flex-direction: column;
        gap: 5%;
        .btn{
          margin-top: 12px;
        }


        .news-date{
          color: var(--White);
          font-size: 20px;
        }
        .news-title{
          color: var(--White);
          font-size: 40px;
        }


        .news-text{
          font-family: var(--font-text);
          color: var(--White);
          line-height: 20px;
        }


        .news-button{
          width: 23%;
          height: 40px;
          font-size: 24px;
        }
      }
    }

  }
}
@media screen  and (max-width: 1366px){
  .section8-container{
    width: 1366px;
    padding-top: 100px;
    padding-left: 122px;
    padding-right: 112px;

      .news-wrapper{
        padding: 35px 15px;
      }
    }


}
@media screen  and (max-width: 1280px){
   .section8-container{
      width: 1280px;
      padding-top: 100px;
      padding-left: 115px;
      padding-right: 100px;

        .news-wrapper{
          padding: 35px 15px;
        }
    }

}
@media screen  and (max-width: 1024px){
  .section8-container{
    width: 1024px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 50px;
    .news-container{
      .news-wrapper{
        gap: 5%;
        .news-date{
          font-size: 22px;
        }
        .news-title{
          font-size: 3vw;
        }
        .news-text{
          font-size: 14px;
          line-height: 18px;
        }
        .news-button{
          width: 24%;
          height: 40px;
          font-size: 22px;
        }
      }
    }
  }
}
@media screen  and (max-width: 800px){
  .section8-container {
    padding-left: 75px;
    .news-container{
      .news-wrapper{
        gap: 5%;
        .news-date{
          font-size: 22px;
        }
        .news-title{
          font-size: 3vw;
        }
        .news-text{
          display: none;
        }
        .news-button{
          width: 100%;
        }
      }
    }
  }
}
@media screen  and (max-width: 768px){
  .section8-container {
    padding-left: 75px;
    .news-wrapper {
      .news-text {
        display: none;
      }
    }
  }
}

@media screen  and (max-width: 640px){
  .section8-container {
    padding-left: 50px;
    .news-container{
      width: 550px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      border: 1px solid gray;

      .news-image{
        width: 100%;
        height: auto;
      }

      .news-wrapper{
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 5%;
        .btn{
          margin-top: 12px;
        }

        .news-date{
          font-size: 4.8vw;
        }
        .news-title{
          color: var(--White);
          font-size: 7.2vw;
          margin: 20px 0px;
        }


        .news-text{
          font-family: var(--font-text);
          color: var(--White);
          line-height: 20px;
        }


        .news-button{
          width: 23%;
          height: 12%;
          font-size: 24px;
        }
      }}

  }
}

@media screen  and (max-width: 480px){
  .section8-container {
    padding-left: 30px;
    .news-container{
      width: 420px;

      .news-wrapper{
        .btn{
          margin-top: 12px;
        }
        .news-button{
          width: 35%;
        }
      }}

  }
}

@media screen  and (max-width: 360px){
  .section8-container {
    padding-left: 30px;
    .news-container{
      width: 310px;

      .news-wrapper{
        .btn{
          margin-top: 12px;
        }
        .news-button{
          width: 100%;
        }
      }}

  }
}

.newsfeed-container {
  width: 100%;
  height: auto;
  margin-top: 50px;
  .newsfeed-list {
    width: 100%;
    //height: auto;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;

  }
  @media screen and (max-width: 768px) {
    width: 768px;
  }

  .news-container-closed {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    border: 1px solid gray;

    .news-image1 {
      width: 40%;
      height: auto;
    }

    .news-wrapper1 {
      padding: 4% 4%;
      display: flex;
      flex-direction: column;
      gap: 12%;
      //.news-open-text{
      //  color: var(--White);
      //  font-family: var(--font-text);
      //  line-height: 20px;
      //}

      .news-date1 {
        color: var(--White);
        font-size: 20px;
      }

      .news-title1 {
        color: var(--White);
        font-size: 50px;
      }


      .news-text {
        font-family: var(--font-text);
        color: var(--White);
        line-height: 20px;
      }

      .news-button {
        width: 23%;
        height: 12%;
        font-size: 24px;
      }

      @media screen and (max-width: 1440px) {
        .news-text {
          font-size: 0.9vw;
        }
      }
      @media screen and (max-width: 768px) {
        .news-title1 {
          font-size: 30px;
        }
        .news-button1 {
          width: 45%;
          height: 30%;
          font-size: 20px;
          margin-bottom: 30px;
      }
      }
    }
  }
}
.news-container-content-all{
  height: auto;
}
.news-container-open{
    width: 100%;
    max-height: 1100px;
    margin-top: 140px;

  .news-container-content{
    display: flex;
    margin-top: 50px;
    gap: 50px;
    .news-slider{
      width: 700px;

      .news-image{
        height: 600px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }


    .news-wrapper1-open{
      display: flex;
      flex-direction: column;
      gap: 40px;
      .news-date1 {
        color: var(--White);
        font-size: 20px;
      }
      .news-content {
        font-family: var(--font-text);
        color: var(--White);
        line-height: 20px;
      }
      .news-button2{
        height: 50px;
        width: 150px;
      }
    }
  }
  .news-title1 {
    color: var(--White);
    font-size: 50px;
  }
   @media screen and (max-width: 768px) {
     .news-container-open {
       display: block;
       width: 768px;
       height: auto;
       overflow: hidden;
       //max-height: 800px;
       //margin-top: 140px;
     }
     .news-container-content{
        display: block;
        margin-top: 50px;
       .news-slider{
          width: 660px;
          height: 500px;

        .news-image{
          height: 500px;
          margin-left: 0px;
          margin-right: 10px;
        }
      }
     }
     .news-date1 {
        margin-top: 25px;
      }
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .news-container-open{
    width: 950px;
    height: auto;
    margin-top: 140px;
    display: block;

    .news-container-content{
      display: block;
      margin-top: 50px;
      .news-slider{
        width: 900px;
        height: 500px;

        .news-image{
          height: 600px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .news-wrapper1-open{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .news-date1 {
          color: var(--White);
          font-size: 20px;
        }
        .news-content {
          margin-top: 80px;
          width: 900px;
          line-height: 20px;
        }
        .news-button2{
          height: 50px;
          width: 150px;
        }
      }
    }
    .news-title1 {
      color: var(--White);
      font-size: 50px;
    }
  }
}
@media screen  and (max-width: 1680px){

}
@media screen  and (max-width: 1440px){

}
@media screen  and (max-width: 1366px){

}
@media screen  and (max-width: 1280px){

}
@media screen  and (max-width: 1024px){

}

@media screen  and (max-width: 640px){

.newsfeed-container {
  width: 100%;
  height: auto;
  margin-top: 50px;
  .newsfeed-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    //padding-bottom: 80px;
    margin-bottom: 50px;
  }

  .news-container-closed {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .news-image1 {
      width: 100%;
      height: auto;
    }

    .news-wrapper1 {
      padding: 4% 4%;
      display: flex;
      flex-direction: column;
      gap: 10%;
      .news-date1 {
        font-size: 5vw;
      }

      .news-title1 {
        font-size: 8vw;
        margin: 15px 0px;
      }
    }
  }
}
.news-container-content-all{
  height: auto;
}
.news-container-open{
    width: 100%;
    max-height: 1300px;
    margin-top: 140px;

  .news-container-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    .news-slider{
      width: 550px;
      //height: 500px;

      .news-image{
        width: 500px;
        height: 500px;
        //height: auto;
        margin-left: 10px;
        margin-right: 10px;
      }
    }


    .news-wrapper1-open{
      display: flex;
      flex-direction: column;
      gap: 40px;
      .news-date1 {
        color: var(--White);
        font-size: 4vw;
      }
      .news-content {
        font-family: var(--font-text);
        color: var(--White);
        font-size: 3vw;
        line-height: 24px;
      }
      .news-button2{
        height: 50px;
        width: 150px;
      }
    }
  }
  .news-title1 {
    color: var(--White);
    font-size: 50px;
  }

}

}

@media screen  and (max-width: 480px){


.news-container-open{
    width: 100%;
    max-height: 1400px;
    margin-top: 80px;

  .news-container-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    .news-slider{
      width: 100%;
      max-height: 400px;

      .news-image{
        width: 400px;
        height: 400px;
        //height: auto;
        margin-left: 10px;
        margin-right: 10px;
      }
    }


    .news-wrapper1-open{
      gap: 30px;
      .news-date1 {
        color: var(--White);
        font-size: 4.1vw;
      }
      .news-content {
        font-size: 4vw;
        line-height: 24px;
      }
      .news-button2{
        height: 50px;
        width: 150px;
      }
    }
  }
  .news-title1 {
    font-size: 50px;
  }

}

}


