.section8-container {
  width: 100%;
  height: auto;
  padding: 100px 172px;
}
@media screen and (max-width: 1440px) {
  .section8-container {
    padding: 100px 130px;
  }
}
@media screen and (max-width: 768px) {
  .section8-container {
    padding: 50px 50px;
    width: 768px;
  }
}
@media screen and (max-width: 1280px) {
  .section8-container {
    padding-left: 50px;
    padding-right: 40px;
  }
}
.section8-container .news-container {
  margin-top: 40px;
  display: flex;
  border: 1px solid gray;
}
.section8-container .news-container .news-image {
  width: 40%;
  height: auto;
}
.section8-container .news-container .news-wrapper {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.section8-container .news-container .news-wrapper .btn {
  margin-top: 12px;
}
.section8-container .news-container .news-wrapper .news-date {
  color: var(--White);
  font-size: 20px;
}
.section8-container .news-container .news-wrapper .news-title {
  color: var(--White);
  font-size: 46px;
}
.section8-container .news-container .news-wrapper .news-text {
  font-family: var(--font-text);
  color: var(--White);
  line-height: 20px;
}
.section8-container .news-container .news-wrapper .news-button {
  width: 23%;
  height: 12%;
  font-size: 24px;
}
@media screen and (max-width: 1440px) {
  .section8-container .news-container .news-wrapper .news-text {
    font-size: 0.9vw;
  }
}
@media screen and (max-width: 768px) {
  .section8-container .news-container {
    margin-top: 40px;
  }
  .section8-container .news-container .news-image {
    width: 40%;
    height: auto;
  }
  .section8-container .news-container .news-wrapper {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 3%;
  }
  .section8-container .news-container .news-wrapper .btn {
    margin-top: 12px;
  }
  .section8-container .news-container .news-wrapper .news-date {
    color: var(--White);
    font-size: 16px;
  }
  .section8-container .news-container .news-wrapper .news-title {
    color: var(--White);
    font-size: 26px;
  }
  .section8-container .news-container .news-wrapper .news-text {
    line-height: 12px;
  }
  .section8-container .news-container .news-wrapper .news-button {
    width: 25%;
    height: 30px;
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section8-container {
    max-width: 1024px;
    height: auto;
    padding-left: 50px;
    padding-right: 40px;
  }
  .section8-container .news-container {
    width: 950px;
  }
  .section8-container .news-container .news-wrapper .news-title {
    color: var(--White);
    font-size: 3vw;
  }
  .section8-container .news-container .news-wrapper .news-button {
    width: 20%;
    height: 36px;
    font-size: 18px;
  }
}
.newsfeed-container {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.newsfeed-container .newsfeed-list {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .newsfeed-container {
    width: 768px;
  }
}
.newsfeed-container .news-container-closed {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  border: 1px solid gray;
}
.newsfeed-container .news-container-closed .news-image1 {
  width: 40%;
  height: auto;
}
.newsfeed-container .news-container-closed .news-wrapper1 {
  padding: 4% 4%;
  display: flex;
  flex-direction: column;
  gap: 12%;
}
.newsfeed-container .news-container-closed .news-wrapper1 .news-date1 {
  color: var(--White);
  font-size: 20px;
}
.newsfeed-container .news-container-closed .news-wrapper1 .news-title1 {
  color: var(--White);
  font-size: 50px;
}
.newsfeed-container .news-container-closed .news-wrapper1 .news-text {
  font-family: var(--font-text);
  color: var(--White);
  line-height: 20px;
}
.newsfeed-container .news-container-closed .news-wrapper1 .news-button {
  width: 23%;
  height: 12%;
  font-size: 24px;
}
@media screen and (max-width: 1440px) {
  .newsfeed-container .news-container-closed .news-wrapper1 .news-text {
    font-size: 0.9vw;
  }
}
@media screen and (max-width: 768px) {
  .newsfeed-container .news-container-closed .news-wrapper1 .news-title1 {
    font-size: 30px;
  }
  .newsfeed-container .news-container-closed .news-wrapper1 .news-button1 {
    width: 45%;
    height: 30%;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.news-container-content-all {
  height: auto;
}

.news-container-open {
  width: 100%;
  max-height: 1100px;
  margin-top: 140px;
}
.news-container-open .news-container-content {
  display: flex;
  margin-top: 50px;
  gap: 50px;
}
.news-container-open .news-container-content .news-slider {
  width: 700px;
}
.news-container-open .news-container-content .news-slider .news-image {
  height: 600px;
  margin-left: 10px;
  margin-right: 10px;
}
.news-container-open .news-container-content .news-wrapper1-open {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.news-container-open .news-container-content .news-wrapper1-open .news-date1 {
  color: var(--White);
  font-size: 20px;
}
.news-container-open .news-container-content .news-wrapper1-open .news-content {
  font-family: var(--font-text);
  color: var(--White);
  line-height: 20px;
}
.news-container-open .news-container-content .news-wrapper1-open .news-button2 {
  height: 50px;
  width: 150px;
}
.news-container-open .news-title1 {
  color: var(--White);
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .news-container-open .news-container-open {
    display: block;
    width: 768px;
    height: auto;
  }
  .news-container-open .news-container-content {
    display: block;
    margin-top: 50px;
  }
  .news-container-open .news-container-content .news-slider {
    width: 660px;
    height: 500px;
  }
  .news-container-open .news-container-content .news-slider .news-image {
    height: 500px;
    margin-left: 0px;
    margin-right: 10px;
  }
  .news-container-open .news-date1 {
    margin-top: 25px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .news-container-open {
    width: 1020px;
    height: auto;
    margin-top: 140px;
    display: block;
  }
  .news-container-open .news-container-content {
    display: block;
    margin-top: 50px;
  }
  .news-container-open .news-container-content .news-slider {
    width: 900px;
    height: 500px;
  }
  .news-container-open .news-container-content .news-slider .news-image {
    height: 600px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .news-container-open .news-container-content .news-wrapper1-open {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .news-container-open .news-container-content .news-wrapper1-open .news-date1 {
    color: var(--White);
    font-size: 20px;
  }
  .news-container-open .news-container-content .news-wrapper1-open .news-content {
    margin-top: 80px;
    width: 900px;
    line-height: 20px;
  }
  .news-container-open .news-container-content .news-wrapper1-open .news-button2 {
    height: 50px;
    width: 150px;
  }
  .news-container-open .news-title1 {
    color: var(--White);
    font-size: 50px;
  }
}

/*# sourceMappingURL=NewsFeed.css.map */
