.schedule-table-container{
  padding: 30px 172px;

  .schedule-table {
  max-width: 100%;
  overflow-x: auto;
  padding-top: 30px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }

  th, td {
    padding: 10px 1px;
    text-align: center;
    border: 1px solid var(--White);
    height: 5%;
    color: var(--White);
    width: 210px;

  }
  td{
    font-family: var(--font-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 100% */
    font-variant: all-small-caps;
  }

  th {
    background-color: var(--White);
    font-family: var(--font-family);
    border-right: 1px solid var(--Black, #0D0C0A);
    color:  #0D0C0A;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    font-variant: all-small-caps;

  }
}

@media screen  and (max-width: 1680px){


}
@media screen  and (max-width: 1440px){
  .schedule-table-container{
    padding-top: 30px;
    padding-left: 132px;
    padding-right: 100px;

    .schedule-table {
    max-width: 100%;
    overflow-x: auto;
    padding-top: 30px;
    }

    table {
      width: 100%;
    }

    th, td {
      padding: 10px 1px;
      width: 210px;

    }
    td{
      font-size: 22px;
      line-height: 20px; /* 100% */
    }

    th {
      line-height: 30px;

    }
  }
}
@media screen  and (max-width: 1366px){
  .schedule-table-container{
    padding-top: 30px;
    padding-left: 122px;
    padding-right: 50px;

    .schedule-table {
    max-width: 100%;
    overflow-x: auto;
    padding-top: 30px;
    }

    table {
      width: 100%;
    }

    th, td {
      padding: 10px 1px;
      width: 210px;

    }
    td{
      font-size: 22px;
      line-height: 20px; /* 100% */
    }

    th {
      line-height: 30px;

    }
  }
}
@media screen  and (max-width: 1280px){
  .schedule-table-container{
    padding-top: 30px;
    padding-left: 115px;
    padding-right: 40px;

    .schedule-table {
    max-width: 100%;
    overflow-x: auto;
    padding-top: 30px;
    }

    table {
      width: 100%;
    }

    th, td {
      padding: 10px 1px;
      width: 210px;

    }
    td{
      font-size: 22px;
      line-height: 20px; /* 100% */
    }

    th {
      line-height: 28px;

    }
  }
}
@media screen  and (max-width: 1024px){
  .schedule-table-container{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 50px;


    table {
      width: 100%;
    }

    th, td {
      padding: 10px 1px;
      width: 210px;

    }
    td{
      font-size: 20px;
      line-height: 20px; /* 100% */
    }

    th {
      line-height: 25px;

    }
  }
}

//TODO make it look good
@media screen  and (max-width: 800px){
  .schedule-table-container{
    padding-left: 75px;
  }
}
@media screen  and (max-width: 768px){
  .schedule-table-container{
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 50px;


    table {
      width: 100%;
    }

    th, td {
      padding: 10px 1px;
      width: 210px;

    }
    td{
      font-size: 20px;
      line-height: 20px; /* 100% */
    }

    th {
      line-height: 25px;

    }
  }
}

@media screen  and (max-width: 640px){
  .schedule-table-container{
    padding-left: 50px;
  }
}

@media screen  and (max-width: 480px){
  .schedule-table-container{
    padding-left: 30px;
  }
}