.trainer-list_container{
  padding: 100px 172px;
  width: 100%;
  height: auto;
  .trainers{
    padding-top: 40px;
    display: flex;
    gap: 230px;
    align-items: center;
  }

  .trainer{
    position: relative;
    width: 300px;
    .trainer_img{
      width: 400px;
    }
    .trainer_name{
      position: absolute;
      bottom: 18%;
      background: var(--yellow-, #FFD11B);
      display: inline-flex;
      padding: 15px 30px 15px 30px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-family: var(--font-text);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 100% */
      font-variant: all-small-caps;
    }
    .trainer_title{
      position: absolute;
      bottom: 9%;
      display: inline-flex;
      padding: 8px 30px 12px 30px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background: var(--Black, #0D0C0A);
      color: var(--White, #E5E5D6);
      font-family: var(--font-text);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
    .trainer_availible{
      position: absolute;
      bottom: 3%;
      left: 10%;
      color: var(--yellow-);
      font-family: var(--font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
    }
  }
}


@media screen  and (max-width: 1680px){


}
@media screen  and (max-width: 1440px){
  .trainer-list_container{
    padding-top: 100px ;
    padding-left: 132px;

    width: 1440px;
    .trainers{
      padding-top: 30px;
      gap: 12%;
    }
    .trainer{
      position: relative;
      width: 280px;
      .trainer_img{
        width: 380px;
      }
    }
  }
}
@media screen  and (max-width: 1366px){
  .trainer-list_conta2ner{
    width: 1366px;
    padding-top: 80px ;
    padding-left: 122px;

    .trainers{
      padding-top: 30px;
      gap: 12%;
    }
    .trainer{
      position: relative;
      width: 270px;
      .trainer_img{
        width: 370px;
      }
    }
  }
}
@media screen  and (max-width: 1280px){
 .trainer-list_container{
    padding-top: 80px;
    padding-left: 115px;
    width: 1280px;
    .trainers{
      padding-top: 30px;
      gap: 12%;
    }
    .trainer{
      width: 260px;
      .trainer_img{
        width: 360px;
      }
    }
  }

}
@media screen  and (max-width: 1024px){
  .trainer-list_container{
    padding-top: 80px;
    padding-left: 100px;
    width: 1024px;
    .trainers{
      padding-top: 30px;
      gap: 19%;
    }
    .trainer{
      width: 250px;
      .trainer_img{
        width: 350px;
      }
    }
  }

}
