.prices-container {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
.prices-container .training-item_price {
  background-color: transparent;
  border: 1px solid var(--yellow-);
  width: 19%;
  height: auto;
  padding: 75px 20px;
}
.prices-container .prices-title {
  padding-left: 172px;
}
.prices-container .prices-prices {
  padding-top: 2%;
  padding-left: 172px;
  display: flex;
  gap: 4.5%;
}
.prices-container .prices-name {
  color: var(--White, #E5E5D6);
  text-align: center;
  font-family: var(--font-text);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  font-variant: all-small-caps;
  padding-bottom: 40px;
}
.prices-container .prices-int {
  color: var(--yellow-);
  text-align: center;
  font-family: var(--font-text);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
}

@media screen and (max-width: 1680px) {
  .prices-container {
    width: 1680px;
    height: auto;
    padding-bottom: 100px;
  }
  .prices-container .training-item_price {
    width: 19%;
    height: auto;
    padding: 60px 20px;
  }
  .prices-container .prices-name {
    font-size: 2vw;
    line-height: 28px;
    padding-bottom: 35px;
  }
  .prices-container .prices-int {
    font-size: 3vw;
    line-height: 52px;
  }
}
@media screen and (max-width: 1440px) {
  .prices-container {
    width: 1400px;
    height: auto;
    padding-bottom: 80px;
  }
  .prices-container .training-item_price {
    width: 21%;
    height: auto;
    padding: 55px 20px;
  }
  .prices-container .prices-title {
    padding-left: 132px;
  }
  .prices-container .prices-prices {
    padding-top: 2%;
    padding-left: 132px;
    display: flex;
    gap: 4%;
  }
  .prices-container .prices-name {
    font-size: 2vw;
    line-height: 24px;
    padding-bottom: 35px;
  }
  .prices-container .prices-int {
    font-size: 2.5vw;
    line-height: 48px;
  }
}
@media screen and (max-width: 1366px) {
  .prices-container {
    width: 1366px;
    height: auto;
    padding-bottom: 80px;
  }
  .prices-container .training-item_price {
    width: 21%;
    height: auto;
    padding: 50px 20px;
  }
  .prices-container .prices-title {
    padding-left: 122px;
  }
  .prices-container .prices-prices {
    padding-top: 2%;
    padding-left: 122px;
  }
  .prices-container .prices-name {
    font-size: 2vw;
    line-height: 24px;
    padding-bottom: 35px;
  }
  .prices-container .prices-int {
    font-size: 2.5vw;
    line-height: 48px;
  }
}
@media screen and (max-width: 1280px) {
  .prices-container {
    width: 1280px;
    height: auto;
    padding-bottom: 80px;
  }
  .prices-container .training-item_price {
    width: 21%;
    height: auto;
    padding: 50px 20px;
  }
  .prices-container .prices-title {
    padding-left: 115px;
  }
  .prices-container .prices-prices {
    padding-top: 2%;
    padding-left: 115px;
  }
  .prices-container .prices-name {
    font-size: 2vw;
    line-height: 24px;
    padding-bottom: 35px;
  }
  .prices-container .prices-int {
    font-size: 2.5vw;
    line-height: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .prices-container {
    width: 1024px;
    height: auto;
    padding-bottom: 80px;
  }
  .prices-container .training-item_price {
    width: 21%;
    height: auto;
    padding: 30px 23px;
  }
  .prices-container .prices-title {
    padding-left: 100px;
  }
  .prices-container .prices-prices {
    padding-top: 2%;
    padding-left: 100px;
    gap: 3.7%;
  }
  .prices-container .prices-name {
    font-size: 2vw;
    line-height: 20px;
    padding-bottom: 35px;
  }
  .prices-container .prices-int {
    font-size: 2.5vw;
    line-height: 40px;
  }
}
@media screen and (max-width: 800px) {
  .prices-container {
    width: 800px;
    height: auto;
    padding-bottom: 80px;
  }
  .prices-container .training-item_price {
    width: 85%;
    height: 260px;
  }
  .prices-container .prices-title {
    padding-left: 75px;
  }
  .prices-container .prices-prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-left: 75px;
  }
  .prices-container .prices-name {
    font-size: 3vw;
    line-height: 20px;
    padding-top: 40px;
  }
  .prices-container .prices-int {
    font-size: 4vw;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .prices-container {
    width: 768px;
    height: auto;
    padding-bottom: 80px;
  }
  .prices-container .training-item_price {
    width: 85%;
    height: 260px;
  }
  .prices-container .prices-title {
    padding-left: 75px;
  }
  .prices-container .prices-prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-left: 75px;
  }
  .prices-container .prices-name {
    font-size: 3vw;
    line-height: 20px;
    padding-top: 40px;
  }
  .prices-container .prices-int {
    font-size: 4vw;
    line-height: 40px;
  }
}
@media screen and (max-width: 640px) {
  .prices-container {
    width: 640px;
    height: auto;
    padding-bottom: 40px;
  }
  .prices-container .training-item_price {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 65px;
  }
  .prices-container .prices-title {
    padding-left: 50px;
  }
  .prices-container .prices-prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding-left: 50px;
  }
  .prices-container .prices-name {
    font-size: 3.5vw;
  }
  .prices-container .prices-int {
    font-size: 5vw;
    line-height: 40px;
  }
}
@media screen and (max-width: 480px) {
  .prices-container {
    width: 480px;
    height: auto;
    padding-bottom: 10px;
  }
  .prices-container .training-item_price {
    width: 90%;
    height: 200px;
    margin-bottom: 30px;
    padding: 10px 0px;
  }
  .prices-container .prices-title {
    padding-left: 30px;
  }
  .prices-container .prices-prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding-left: 30px;
  }
  .prices-container .prices-name {
    font-size: 5.7vw;
  }
  .prices-container .prices-int {
    font-size: 6.2vw;
    line-height: 40px;
  }
}
@media screen and (max-width: 360px) {
  .prices-container {
    width: 360px;
    height: auto;
    padding-bottom: 10px;
  }
  .prices-container .training-item_price {
    width: 90%;
    height: 150px;
    margin-bottom: 30px;
    padding: 0px 0px;
  }
  .prices-container .prices-title {
    padding-left: 30px;
  }
  .prices-container .prices-prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    padding-left: 30px;
  }
  .prices-container .prices-name {
    font-size: 5.7vw;
    line-height: 16px;
    padding-bottom: 5px;
  }
  .prices-container .prices-int {
    font-size: 6.2vw;
    line-height: 40px;
  }
}

/*# sourceMappingURL=TrainingItem.css.map */
